@charset "utf-8";

body {
  background-color: #3F3B4A;
  color: #F0F3F9;
  font-size: 62.5%;
  letter-spacing: .2rem;
  font-family: 'Century Gothic';
}
h1, h3 {
  font-weight: normal;
  letter-spacing: .5rem;
}

li {
  list-style-type: none;
  position: relative;
  line-height: 2rem;
  font-size: .7rem;
}
.profile li::after, .qua li::after {
  display: block;
  content: '';
  position: absolute;
  top: 1.2em;
  left: -1em;
  width: 6px;
  height: 6px;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.title {
  font-size: 2.5rem;
  margin: 80px auto 100px 30px;
}
.profiletitle, .quatitle, .snstitle {
  font-size: 1.5rem;
  margin: 80px auto 50px;
  text-align: center;
}
.sns {
  display: flex;
}
.tw-blue{
  color: #1da1f2
}
.insta {/*アイコンの背景*/
  position: relative;/*相対配置*/
  display: inline-block;
  width: 55px;/*幅*/
  height: 55px;/*高さ*/
  vertical-align: middle;/*垂直中央に*/
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
  overflow: hidden;/*はみ出た部分を隠す*/
  border-radius: 8px;/*角丸に*/
}
.insta:before {/*グラデーションを重ねるため*/
  content: '';
  position: absolute;/*絶対配置*/
  top: 24px;/*ずらす*/
  left: -18px;/*ずらす*/
  width: 70px;/*グラデーションカバーの幅*/
  height: 70px;/*グラデーションカバーの高さ*/
  background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);/*グラデーション②*/
}
.fa-instagram {/*アイコン*/
  color: #FFF;/*白に*/
  position: relative;/*z-indexを使うため*/
  z-index: 2;/*グラデーションより前に*/
  font-size: 45px;/*アイコンサイズ*/
  top: 6px;/*上下にずらす*/
  left: 0.5px;/*左右にずらす*/
}
.fb-blue{
  color: #4267b2
}