@charset "utf-8";

body {
  background-color: #3F3B4A;
  color: #F0F3F9;
  font-size: 62.5%;
  letter-spacing: .2rem;
  font-family: 'Reenie Beanie', cursive,'Overlock', cursive;
}
.opening {
  font-family: 'Reenie Beanie', cursive;
  background-image: url("../img/cotton01.jpg");
  color: #F0F3F9;
  height: 100vh;
  position: relative;
}
.opening::before {
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}
.main {
  display: none;
}
.opening p {
  font-size: 1.2rem;
  text-align: center;
  line-height: 2rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
h1, h3 {
  font-weight: normal;
  letter-spacing: .5rem;
}

li {
  list-style-type: none;
  position: relative;
  line-height: 3.5rem;
  font-size: 1.5rem;
}
.profile li::after, .qua li::after {
  display: block;
  content: '';
  position: absolute;
  top: 1.1em;
  left: -1.5em;
  width: 6px;
  height: 6px;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.title {
  font-size: 5rem;
  margin: 80px auto 100px 30px;
}
.profiletitle, .quatitle, .snstitle {
  font-size: 2.5rem;
  margin: 80px auto 50px;
  text-align: center;
}
.sns {
  display: flex;
  justify-content: space-between;
  padding: 0 105px;
}
.tw-blue{
  color: #1da1f2;
}
.fb-blue{
  color: #4267b2;
}
.fa-github {
  color: black;
}

@media screen and (min-width:550px) {
  .profiletitle, .quatitle, .snstitle {
    text-align: start;
    margin-left: 30px;
  }
  .sns {
    padding: 0 150px;
  }
}
@media screen and (min-width:768px) {
  li {
    font-size: 1.5rem;
  }
  .sns {
    justify-content: start;
    padding: 0;
    margin-left: 30px;
  }
  .sns li {
    margin-right: 20px;
  }
  .opening p {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .title {
    font-size: 10rem;
  }
  .profiletitle, .quatitle, .snstitle {
    font-size: 5rem;
    line-height: 4rem;
  }
  .profile li::after, .qua li::after {
    top: 1.1em;
    left: -1em;
    width: 6px;
    height: 6px;
  }
}